.glow-animation-wrapper {
  --anim-duration: 8s;
  --glif-angle-start: 99deg;
  --glif-angle-range: 245deg;
  --mask-angle-start: -150deg;
  --mask-angle-range: 355deg;
  --acceleration: cubic-bezier(0.4, 0, 0.2, 1);
  --glif-gradient: conic-gradient(
    rgba(52, 168, 82, 0) 0deg,
    rgba(52, 168, 82, 1) 50deg,
    rgba(255, 211, 20, 1) 100deg,
    rgba(255, 70, 65, 1) 150deg,
    rgba(49, 134, 255, 1) 200deg,
    rgba(49, 134, 255, 0.5) 250deg,
    rgba(49, 134, 255, 0) 300deg,
    rgba(52, 168, 82, 0) 360deg
  );
  --mask-gradient: conic-gradient(transparent, 16.56deg, 273.24deg, transparent 333.36deg, transparent 360deg);
}

.glow-container {
  padding: var(--glow-container-padding, 2px);
  display: inline-block;
  position: relative;
}

.gradient-and-mask-wrapper {
  contain: paint;
  border-radius: calc(var(--glow-container-border-radius, 8px) + var(--glow-container-padding, 2px));

  position: absolute;
  inset: 0px;
  opacity: 0;
  pointer-events: none;
}

.outer-glow {
  filter: blur(40px);
}

.mask::before {
  background: var(--mask-gradient);
  rotate: var(--mask-angle-start);
}

.gradient::before {
  background: var(--glif-gradient);
  rotate: var(--glif-angle-start);
}

.gradient::before,
.mask::before {
  content: "";
  position: absolute;
  inset: 0px;
  transform-origin: center center;

  /* transform: scale(var(--glow-container-wrapper-scale, 2)); */

  aspect-ratio: 1 / 1;
  margin: auto;
  inset-block: 0;
}

.glow-animation-wrapper:hover .outer-glow {
  filter: none;
}

.glow-animation-wrapper:hover .gradient-and-mask-wrapper {
  opacity: 1;
  pointer-events: auto;
}

.glow-animation-wrapper:hover .gradient::before {
  animation: rotate-glif-anim-infinite var(--anim-duration) linear infinite,
    fade-in-out-infinite var(--anim-duration) linear forwards;
}

.glow-animation-wrapper:hover .mask::before {
  animation: rotate-mask-anim-infinite var(--anim-duration) linear infinite,
    fade-in-out-infinite var(--anim-duration) linear forwards;
}

@keyframes rotate-glif-anim-infinite {
  0% {
    rotate: var(--glif-angle-start);
  }
  100% {
    rotate: calc(var(--glif-angle-start) + 360deg);
  }
}
@keyframes rotate-mask-anim-infinite {
  0% {
    rotate: var(--mask-angle-start);
  }
  100% {
    rotate: calc(var(--mask-angle-start) + 360deg);
  }
}

@keyframes fade-in-out-infinite {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
